p {
    font-size: 1.25em;
    font-weight: bold;
  }
  figcaption, label, input, small {
    font-size: 1em;
  }
  nav{
    position: relative;
    line-height:30px;
    background-color:black;
   }
  nav ul{
    margin-top:30px;
  }
  nav li{
    display:inline-block;
  }
  nav a{
    text-align:center;
    text-decoration:none;
    color:#fff;
    padding:10px;
    font-size: 1.5em;
  }
  header, footer{
    text-align: center;
  }
  [href="#top"] {
    position:fixed;
    bottom: 0px;
    right:50px;
    padding: 5px;
  color: #ffffff;
  background-color: black;
    text-transform: uppercase;
  }
  [href="#top"]:hover {
    background-color: #ffffff;
    color: black;
  }
  h1 {
    font-size: 3em;
  }
  h2 {
    font-size: 2em;
  }
  html{
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    border: 50px solid ;
    border-color:#ffffff;
    border-top: 0px;
    padding: 10%;
    padding-top: 0px;
  }
  header h1{
    background-color: #ffffff;
    color: #007d7b;
    padding: 5px;
    margin: -8px;
    font-weight: bold;
    text-transform: uppercase; 
  }
  main{
    background-color: #ffffff;
    padding:5px;

  }
  main h2{
    text-align: center;
    padding:0px;
  }
  .container{
      position: relative; 
      margin:0;   
  }
figcaption{
      position: absolute;
      top: 95%;
      left: 50%;
      transform: translate(-50%, -50%);
      color:#ffff;
      text-transform: uppercase; 
      padding-bottom: 10%;
  }

  #contact{
    color: #ffffff;
  }
  #contact h2, #contact p, #contact h4{
    text-align: center;
  }
  .row{
    border-radius: 0px;
    background-color: black;
    margin-left:15%;
    margin-right:15%;
    color: white;  
  }
  label{
      display:block;
        margin-top:10px;
        margin-right:0px;
        margin-bottom:-10px;
        margin-left:5px;
        text-transform: uppercase;
        font-size: 1em;
        padding: 10px; 
  }
  input{
      display:inline-block;
      padding:10px;
      margin-bottom:24px;
    margin-left:50px;
    font-weight: bold;
  }     
  input[type=text] {
      width: 100%;
      padding: 10px 10px;
      margin: 0 0;
      display: inline-block;
      box-sizing: border-box;
  }
  ::placeholder {
      color: #007d7b;
      opacity: 1;
      text-transform: uppercase;
    }
    :-ms-input-placeholder { 
     color: #007d7b;
     text-transform: uppercase;
    }
    
    ::-ms-input-placeholder { 
     color: #007d7b;
     text-transform: uppercase;
    }
  button[type=submit] {
    width: 30%;
    background-color: #007d7b ;
    color: white;
    padding: 10px 20px;
    margin: 20px 35%;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
  }
  button[type=submit]:hover {
    background-color: #ffffff;
    color: #007d7b;
  }   
  #photos{
    display: grid;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    grid-template-areas:
    "chile"
    "guatemala"
    "hawaii"
    "ireland"
    "italy"
    "moab"
    "rocky"
    "switzerland"
    "uk"
    "usa"
    "wyoming";
  }
  footer{
    font-size: small;
    color:#ffffff;
    margin-top: 50px;
    margin-bottom: -150px
  }
  @media (min-width: 879px){
    nav li{
        justify-content: left;
    }
    #photos{
        grid-template-columns: 
        repeat(2, 1fr);
        grid-template-areas: 
        "chile""guatemala"
        "hawaii""ireland"
         ""   "italy"
        "moab""rocky"
        "switzerland""uk"
        "usa""wyoming";
    }
    }
    @media (min-width: 1299px) {
    #photos{
        grid-template-columns: 
        repeat(3, 1fr);
        grid-template-areas: 
        "chile""guatemala""hawaii"
        "ireland""italy""moab"
        "rocky""switzerland"
        "uk""usa""wyoming";
    }
   nav a{
        justify-content: right;
    }
}